name: ci
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: "true"
      R_CRAN_MIRROR: https://mirrors.tuna.tsinghua.edu.cn/CRAN
      R_BIOC_MIRROR: https://mirrors.tuna.tsinghua.edu.cn/bioconductor

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: 'latest'
          rtools-version: ''

      - run: |
          Rscript -e "R.home()"
          Rscript -e "path.expand('~')"
          Rscript -e "getwd()"